*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: gilroy;
}
@font-face {
  font-family: gilroy;
  src: url(./font/Gilroy-Regular.ttf);
}
html,body{
  height: 100%;
  width: 100%;
}
#main{
  position: relative;
  overflow: hidden;
}
#page{
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #f1f1f1;
}
#page1{
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #f1f1f1;
}
#page2{
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #f1f1f1;
}
#page3{
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #f1f1f1;
}
canvas{
  position: relative;
  z-index: 9;
  max-width: 100vw;
  max-height: 100vh;
}
#loop{
  display: flex;
  position: absolute;
  top: 30%;
  height: 25%;
  width: 100%;
  font-size: 80px;
  white-space: nowrap;
}
#loop>h1>b{
  font-weight: 1000;
}
#loop>h1{
  font-weight: 400;
  animation-name: anim;
  animation-duration: 22s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
#loop>h1>span{
  -webkit-text-stroke: 2.2px black ;
  color: transparent;
  font-weight: 500;
}
@keyframes anim{
  0%{
      transform: translateX(0%);
  }
  100%{
      transform: translateX(-100%);
  }
}
#nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 7%;
  width: 100%;
  position: fixed;
  z-index: 9;
  padding: 0px 30px;
}
#nav>h3{
  font-family: gilroy;
  font-weight: 400;
  font-size: 25px;
}
#nav>h3>span{
  -webkit-text-stroke: 0.6px black ;
  color: transparent;
  font-weight: 500;
}
#nav>button{
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 10px 15px;
  border-radius: 50px;
  background-color: #000;
  color: white;
  border: none;
}
#nav>button:hover{
  background-color: #444444;

}
#nav>button>img{
  text-decoration: none;
  margin-right: 8px;
  width: 22px;
  height: 22px;
}
#page>h3{
  position: absolute;
  top: 62%;
  font-weight: 400;
  color: #5d5d5d;
  left: 2%;
}
#page>h4{
  position: absolute;
  top: 75%;
  font-weight: 400;
  color: #5d5d5d;
  left: 23%;
}
#page1>#right-text>h3{
  position: absolute;
  top: 25%;
  font-weight: 500;
  color: #5d5d5d;
  left: 8%;
}
#page1>#right-text>h1{
  position: absolute;
  top: 29%;
  font-weight: 900;
  left: 8%;
}
#page1>#right-text>h1>span{
  display: inline-flex;
  color: #f1f1f1;
  background-color: #000;
  margin-bottom:  10px;
  padding: 3px 10px;
}
#page1>#left-text>h1{
  position: absolute;
  top: 56%;
  font-weight: 900;
  right: 8%;
  text-align: end;
}
#page1>#left-text>h1>span{
  display: inline-flex;
  color: #f1f1f1;
  background-color: #000;
  margin-bottom:  10px;
  padding: 3px 10px;
  text-align: end;
}
#page1>#left-text>h3{
  position: absolute;
  top: 78%;
  font-weight: 500;
  color: #5d5d5d;
  right: 8%;
}
#page2>#right-text>h3{
  position: absolute;
  top: 25%;
  font-weight: 500;
  color: #5d5d5d;
  left: 8%;
}
#page2>#right-text>h1{
  position: absolute;
  top: 29%;
  font-weight: 900;
  left: 8%;
}
#page2>#right-text>h1>span{
  display: inline-flex;
  color: #f1f1f1;
  background-color: #000;
  margin-bottom:  10px;
  padding: 3px 10px;
}
#page2>#left-text>p{
  text-align: end;
  position: absolute;
  top: 58%;
  font-weight: 500;
  color: #5d5d5d;
  right: 5%;
}
#page3>#right-text>h1{
  position: absolute;
  top: 29%;
  font-weight: 900;
  left: 8%;
}
#page3>#right-text>h1>span{
  display: inline-flex;
  color: #f1f1f1;
  background-color: #000;
  margin-bottom:  10px;
  padding: 3px 10px;
}
#page3>#right-text>h3{
  position: absolute;
  top: 25%;
  font-weight: 500;
  color: #5d5d5d;
  left: 8%;
}
#page3>#left-text>p{
  text-align: end;
  position: absolute;
  top: 55%;
  font-weight: 500;
  color: #5d5d5d;
  right: 5%;
}